/.vs
/PracticeCompass.API/obj
/PracticeCompass.API/bin
/PracticeCompass.Core/obj
/PracticeCompass.Core/bin
/PracticeCompass.Data/obj
/PracticeCompass.Data/bin
/PracticeCompass.Setup/bin
/PracticeCompass.UI/ClientApp/package-lock.json
PracticeCompass.API/Properties/PublishProfiles/FolderProfile.pubxml
PracticeCompass.API/Properties/PublishProfiles/FolderProfile.pubxml.user
PracticeCompass.UI/.config/dotnet-tools.json
PracticeCompass.API/PracticeCompass.API.csproj.user
/PracticeCompass.Audit/bin
/PracticeCompass.Audit/obj
PracticeCompass.ReactUI/ClientApp/package-lock.json
PracticeCompass.ReactUI/ClientApp/package-lock.json
/PracticeCompass.ReactUI/ClientApp/package-lock.json
/PracticeCompass.Data/Scripts/__tmp_uspFilterUpdate.sql.txt
/PracticeCompass.Data/Scripts/__tmp_uspPatientGet.sql.txt
/PracticeCompass.Data/Scripts/__tmp_uspPracticeGet.sql.txt
/PracticeCompass.Data/Scripts/__error_list.txt
/PracticeCompass.Data/Scripts/__LenErrors__.txt
/PracticeCompass.Data/Scripts/__tmp_CreateFiltersTable.sql.txt
/PracticeCompass.Data/Scripts/__tmp_uspFilterDelete.sql.txt
/PracticeCompass.Data/Scripts/__tmp_uspFilterInsert.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspInsuranceGet.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspPatientGridGet.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspPatientPoupGet.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspPatientTypeGet.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspFiltersGet.sql.txt
PracticeCompass.Data/Scripts/__tmp_Appointment_PatientID_Index.sql.txt
PracticeCompass.Data/Scripts/__tmp_FuncNextApptGet.sql.txt
PracticeCompass.Data/Scripts/__tmp_PatientGridTesting.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspCountryStateGet.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspGenderGet.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspGuarantorGet.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspInsuranceTypesGet.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspMaritalStatusGet.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspPhysicianGet.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspPlanTypeGet.sql.txt
/PracticeCompass.Logger/bin
/PracticeCompass.Logger/obj
/PracticeCompass.Data/Scripts/__tmp_uspPatientDetailsGet.sql.txt
/PracticeCompass.Data/Scripts/__tmp_uspClaimGridGet.sql.txt
/PracticeCompass.Data/Scripts/__tmp_uspInsuranceGridGet.sql.txt
/Publish/TechnoMedicAPI/Microsoft.EntityFrameworkCore.dll
/Publish/TechnoMedicAPI/Microsoft.EntityFrameworkCore.Relational.dll
/Publish/TechnoMedicAPI/Microsoft.EntityFrameworkCore.SqlServer.dll
/Publish/TechnoMedicAPI/Microsoft.Extensions.Caching.Abstractions.dll
/Publish/TechnoMedicAPI/Microsoft.Extensions.Caching.Memory.dll
/Publish/TechnoMedicAPI/Microsoft.Extensions.Configuration.Abstractions.dll
/Publish/TechnoMedicAPI/Microsoft.Extensions.Configuration.dll
/Publish/TechnoMedicAPI/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/Publish/TechnoMedicAPI/Microsoft.Extensions.DependencyInjection.dll
/Publish/TechnoMedicAPI/Microsoft.Extensions.Logging.Abstractions.dll
/Publish/TechnoMedicAPI/Microsoft.Extensions.Logging.dll
/Publish/TechnoMedicAPI/Microsoft.Extensions.Options.dll
/Publish/TechnoMedicAPI/Microsoft.Extensions.Primitives.dll
/Publish/TechnoMedicAPI/Microsoft.Identity.Client.dll
/Publish/TechnoMedicAPI/Microsoft.IdentityModel.JsonWebTokens.dll
/Publish/TechnoMedicAPI/Microsoft.IdentityModel.Logging.dll
/Publish/TechnoMedicAPI/Microsoft.IdentityModel.Protocols.dll
/Publish/TechnoMedicAPI/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/Publish/TechnoMedicAPI/Microsoft.IdentityModel.Tokens.dll
/Publish/TechnoMedicAPI/Microsoft.OpenApi.dll
/Publish/TechnoMedicAPI/Microsoft.Win32.Registry.dll
/Publish/TechnoMedicAPI/Newtonsoft.Json.Bson.dll
/Publish/TechnoMedicAPI/Newtonsoft.Json.dll
/Publish/TechnoMedicAPI/Swashbuckle.AspNetCore.Swagger.dll
/Publish/TechnoMedicAPI/Swashbuckle.AspNetCore.SwaggerGen.dll
/Publish/TechnoMedicAPI/Swashbuckle.AspNetCore.SwaggerUI.dll
/Publish/TechnoMedicAPI/System.CodeDom.dll
/Publish/TechnoMedicAPI/System.Collections.Immutable.dll
/Publish/TechnoMedicAPI/System.ComponentModel.Annotations.dll
/Publish/TechnoMedicAPI/System.Configuration.ConfigurationManager.dll
/Publish/TechnoMedicAPI/System.Data.SqlClient.dll
/Publish/TechnoMedicAPI/System.Diagnostics.DiagnosticSource.dll
/Publish/TechnoMedicAPI/System.IdentityModel.Tokens.Jwt.dll
/Publish/TechnoMedicAPI/System.Management.dll
/Publish/TechnoMedicAPI/System.Net.Http.Formatting.dll
/Publish/TechnoMedicAPI/System.Runtime.Caching.dll
/Publish/TechnoMedicAPI/System.Security.AccessControl.dll
/Publish/TechnoMedicAPI/System.Security.Cryptography.ProtectedData.dll
/Publish/TechnoMedicAPI/System.Security.Principal.Windows.dll
/Publish/TechnoMedicAPI/System.Web.Http.dll
/Publish/TechnoMedicAPI/PracticeCompass.API.deps.json
/Publish/TechnoMedicAPI/PracticeCompass.API.dll
/Publish/TechnoMedicAPI/PracticeCompass.API.exe
/Publish/TechnoMedicAPI/PracticeCompass.API.pdb
/Publish/TechnoMedicAPI/PracticeCompass.API.runtimeconfig.json
/Publish/TechnoMedicAPI/PracticeCompass.Core.dll
/Publish/TechnoMedicAPI/PracticeCompass.Core.pdb
/Publish/TechnoMedicAPI/PracticeCompass.Data.dll
/Publish/TechnoMedicAPI/PracticeCompass.Data.pdb
/Publish/TechnoMedicAPI/PracticeCompass.Logger.dll
/Publish/TechnoMedicAPI/PracticeCompass.Logger.pdb
/Publish/TechnoMedicAPI/web.config
/Publish/TechnoMedicAPI/runtimes
/Publish/TechnoMedicAPI/appsettings.Development.json
/Publish/TechnoMedicAPI/appsettings.json
/Publish/TechnoMedicAPI/appsettings.Production.json
/Publish/TechnoMedicAPI/AutoMapper.dll
/Publish/TechnoMedicAPI/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
/Publish/TechnoMedicAPI/Dapper.dll
/Publish/TechnoMedicAPI/Microsoft.Data.SqlClient.dll
/Publish/TechnoMedicAPI/Microsoft.EntityFrameworkCore.Abstractions.dll
/Publish/TechnoMedicUI/Microsoft.Extensions.Configuration.dll
/Publish/TechnoMedicUI/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/Publish/TechnoMedicUI/Microsoft.Extensions.DependencyInjection.dll
/Publish/TechnoMedicUI/Microsoft.Extensions.FileProviders.Abstractions.dll
/Publish/TechnoMedicUI/Microsoft.Extensions.FileProviders.Physical.dll
/Publish/TechnoMedicUI/Microsoft.Extensions.FileSystemGlobbing.dll
/Publish/TechnoMedicUI/Microsoft.Extensions.Logging.Abstractions.dll
/Publish/TechnoMedicUI/Microsoft.Extensions.Logging.Configuration.dll
/Publish/TechnoMedicUI/Microsoft.Extensions.Logging.Console.dll
/Publish/TechnoMedicUI/Microsoft.Extensions.Logging.dll
/Publish/TechnoMedicUI/Microsoft.Extensions.Options.ConfigurationExtensions.dll
/Publish/TechnoMedicUI/Microsoft.Extensions.Options.dll
/Publish/TechnoMedicUI/Microsoft.Extensions.Primitives.dll
/Publish/TechnoMedicUI/Newtonsoft.Json.dll
/Publish/TechnoMedicUI/package-lock.json
/Publish/TechnoMedicUI/PracticeCompass.ReactUI.deps.json
/Publish/TechnoMedicUI/PracticeCompass.ReactUI.dll
/Publish/TechnoMedicUI/PracticeCompass.ReactUI.exe
/Publish/TechnoMedicUI/PracticeCompass.ReactUI.pdb
/Publish/TechnoMedicUI/PracticeCompass.ReactUI.runtimeconfig.json
/Publish/TechnoMedicUI/PracticeCompass.ReactUI.Views.dll
/Publish/TechnoMedicUI/PracticeCompass.ReactUI.Views.pdb
/Publish/TechnoMedicUI/web.config
/Publish/TechnoMedicUI/ClientApp
/Publish/TechnoMedicUI/appsettings.Development.json
/Publish/TechnoMedicUI/appsettings.json
/Publish/TechnoMedicUI/Microsoft.AspNetCore.NodeServices.dll
/Publish/TechnoMedicUI/Microsoft.AspNetCore.SpaServices.dll
/Publish/TechnoMedicUI/Microsoft.AspNetCore.SpaServices.Extensions.dll
/Publish/TechnoMedicUI/Microsoft.Extensions.Configuration.Abstractions.dll
/Publish/TechnoMedicUI/Microsoft.Extensions.Configuration.Binder.dll
PracticeCompass.Data/Scripts/__tmp_uspGuarantoreGet.sql.txt
/PracticeCompass.UI
PracticeCompass.Data/Scripts/__tmp_uspFiltersCheck.sql.txt
React.Test/ClientApp/package-lock.json
PracticeCompass.Data/Scripts/Index/__error_list.txt
PracticeCompass.Data/Scripts/Index/__LenErrors__.txt
PracticeCompass.Data/Scripts/Index/__tmp_Account.sql.txt
PracticeCompass.Data/Scripts/Index/__tmp_AccountBill_Index.sql.txt
PracticeCompass.Data/Scripts/Index/__tmp_AccountBillItem_index.sql.txt
PracticeCompass.Data/Scripts/Index/__tmp_Address_index.sql.txt
PracticeCompass.Data/Scripts/Index/__tmp_Appointment_index.sql.txt
PracticeCompass.Data/Scripts/Index/__tmp_Charge_Index.sql.txt
PracticeCompass.Data/Scripts/Index/__tmp_ChargeActivity.sql.txt
PracticeCompass.Data/Scripts/Index/__tmp_Claim.sql.txt
PracticeCompass.Data/Scripts/Index/__tmp_ClaimCharge.sql.txt
PracticeCompass.Data/Scripts/Index/__tmp_CountryState.sql.txt
PracticeCompass.Data/Scripts/Index/__tmp_Encounter.sql.txt
PracticeCompass.Data/Scripts/Index/__tmp_Entity.sql.txt
PracticeCompass.Data/Scripts/Index/__tmp_LookupCode.sql.txt
PracticeCompass.Data/Scripts/Index/__tmp_LookupType.sql.txt
PracticeCompass.Data/Scripts/Index/__tmp_Patient.sql.txt
PracticeCompass.Data/Scripts/Index/__tmp_PatientAccount.sql.txt
PracticeCompass.Data/Scripts/Index/__tmp_PendingCharge.sql.txt
PracticeCompass.Data/Scripts/Index/__tmp_Person.sql.txt
PracticeCompass.Data/Scripts/Index/__tmp_Person_index.sql.txt
PracticeCompass.Data/Scripts/Index/__tmp_Phone.sql.txt
PracticeCompass.Data/Scripts/Index/__tmp_Plan.sql.txt
PracticeCompass.Data/Scripts/Index/__tmp_PlanAltID.sql.txt
PracticeCompass.Data/Scripts/Index/__tmp_PlanClaim.sql.txt
PracticeCompass.Data/Scripts/Index/__tmp_PlanClaimData.sql.txt
PracticeCompass.Data/Scripts/Index/__tmp_Policy.sql.txt
PracticeCompass.Data/Scripts/Index/__tmp_PolicyMemeber.sql.txt
PracticeCompass.Data/Scripts/Index/__tmp_Practice.sql.txt
PracticeCompass.Data/Scripts/Index/__tmp_PracticePlan.sql.txt
PracticeCompass.Data/Scripts/Index/__tmp_Procedure.sql.txt
PracticeCompass.Data/Scripts/Index/__tmp_ProcedureEvent.sql.txt
PracticeCompass.Data/Scripts/Index/__tmp_Provider.sql.txt
PracticeCompass.Data/Scripts/Index/__tmp_Staff.sql.txt
PracticeCompass.Data/Scripts/__tmp_CreateTrendstable.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspTrendsGet.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspTrendsSave.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspClaimDetailsGet.sql.txt
PracticeCompass.Messaging/obj/Debug/netcoreapp3.1/PracticeCompass.Messaging.GeneratedMSBuildEditorConfig.editorconfig
PracticeCompass.Messaging/obj/Debug/netcoreapp3.1/PracticeCompass.Messaging.csproj.AssemblyReference.cache
PracticeCompass.Messaging/obj/Debug/netcoreapp3.1/PracticeCompass.Messaging.assets.cache
PracticeCompass.Messaging/obj/PracticeCompass.Messaging.csproj.nuget.g.props
PracticeCompass.Messaging/obj/PracticeCompass.Messaging.csproj.nuget.dgspec.json
PracticeCompass.Messaging/obj/project.nuget.cache
PracticeCompass.Messaging/obj/project.assets.json
PracticeCompass.Messaging/obj/PracticeCompass.Messaging.csproj.nuget.g.props
PracticeCompass.Messaging/obj/PracticeCompass.Messaging.csproj.nuget.dgspec.json
PracticeCompass.Messaging/obj/project.nuget.cache
PracticeCompass.Messaging/obj/project.assets.json
PracticeCompass.Messaging/obj/Debug/netcoreapp3.1/PracticeCompass.Messaging.pdb
PracticeCompass.Messaging/obj/Debug/netcoreapp3.1/PracticeCompass.Messaging.genruntimeconfig.cache
PracticeCompass.Messaging/obj/Debug/netcoreapp3.1/PracticeCompass.Messaging.exe
PracticeCompass.Messaging/obj/Debug/netcoreapp3.1/PracticeCompass.Messaging.dll
PracticeCompass.Messaging/obj/Debug/netcoreapp3.1/PracticeCompass.Messaging.csproj.FileListAbsolute.txt
PracticeCompass.Messaging/bin/Debug/netcoreapp3.1/PracticeCompass.Messaging.dll
PracticeCompass.Messaging/obj/Debug/netcoreapp3.1/PracticeCompass.Messaging.assets.cache
PracticeCompass.Messaging/bin/Debug/netcoreapp3.1/PracticeCompass.Messaging.dll
PracticeCompass.Messaging/obj/Debug/netcoreapp3.1/PracticeCompass.Messaging.csproj.FileListAbsolute.txt
PracticeCompass.Messaging/bin/Debug/netcoreapp3.1/PracticeCompass.Messaging.dll
PracticeCompass.Messaging/obj/Debug/netcoreapp3.1/PracticeCompass.Messaging.assets.cache
/PracticeCompass.Messaging/.vs
/PracticeCompass.Messaging/bin
/PracticeCompass.Messaging/obj
/PracticeCompass.Data/Scripts/__tmp_uspChargeGridGet.sql.txt
/PracticeCompass.Data/Scripts/__tmp_uspChargeDetailsGet.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspICD10PopupGet.sql.txt
/PracticeCompass.Data/Scripts/__tmp_uspICD10PopupGet.sql.txt
Publish/TechnoMedicAPI/NLog.dll
Publish/TechnoMedicAPI/NLog.config
Publish/TechnoMedicAPI/Microsoft.AspNetCore.Authentication.JwtBearer.dll
Publish/TechnoMedicAPI/CryptoHelper.dll
PracticeCompass.Data/Scripts/__tmp_FuncClaimDestGet.sql.txt
PracticeCompass.Common/bin/Debug/netcoreapp3.1/PracticeCompass.Common.deps.json
PracticeCompass.Common/obj/PracticeCompass.Common.csproj.nuget.g.targets
PracticeCompass.Common/obj/PracticeCompass.Common.csproj.nuget.g.props
PracticeCompass.Common/obj/PracticeCompass.Common.csproj.nuget.dgspec.json
PracticeCompass.Common/obj/project.nuget.cache
PracticeCompass.Common/obj/project.assets.json
PracticeCompass.Common/obj/Debug/netcoreapp3.1/PracticeCompass.Common.pdb
PracticeCompass.Common/obj/Debug/netcoreapp3.1/PracticeCompass.Common.dll
PracticeCompass.Common/obj/Debug/netcoreapp3.1/PracticeCompass.Common.csprojAssemblyReference.cache
PracticeCompass.Common/obj/Debug/netcoreapp3.1/PracticeCompass.Common.csproj.FileListAbsolute.txt
PracticeCompass.Common/obj/Debug/netcoreapp3.1/PracticeCompass.Common.csproj.CoreCompileInputs.cache
PracticeCompass.Common/obj/Debug/netcoreapp3.1/PracticeCompass.Common.assets.cache
PracticeCompass.Common/obj/Debug/netcoreapp3.1/PracticeCompass.Common.AssemblyInfoInputs.cache
PracticeCompass.Common/obj/Debug/netcoreapp3.1/PracticeCompass.Common.AssemblyInfo.cs
PracticeCompass.Common/bin/Debug/netcoreapp3.1/PracticeCompass.Common.pdb
PracticeCompass.Common/bin/Debug/netcoreapp3.1/PracticeCompass.Common.dll
/PracticeCompass.Common/bin
/PracticeCompass.Common/obj
PracticeCompass.Data/Scripts/__tmp_uspClaimMessageGet.sql.txt
Publish/TechnoMedicAPI/PracticeCompass.Common.dll
Publish/TechnoMedicAPI/PracticeCompass.Common.pdb
Publish/TechnoMedicAPI/PracticeCompass.Messaging.deps.json
Publish/TechnoMedicAPI/PracticeCompass.Messaging.dll
Publish/TechnoMedicAPI/PracticeCompass.Messaging.exe
Publish/TechnoMedicAPI/PracticeCompass.Messaging.pdb
Publish/TechnoMedicAPI/PracticeCompass.Messaging.runtimeconfig.json
Publish/Publish.7z
PracticeCompass.Data/Scripts/__tmp_uspClaimNotesGet.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspClaimNotesGet.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspClaimNotesGet.sql.txt
/PracticeCompass.Data/Scripts/__tmp_uspClaimNotesGet.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspRelationGet.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspCptCodesGet.sql.txt
PracticeCompass.Data/Scripts/__tmp_CreateAuditLog.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspAuditLogInsert.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspClaimSubmissionHistoryGet.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspChargeActivityGet.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspModifierGet.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspGridColumns.sql.txt
Publish/TechnoMedicAPI/Nancy.dll
Publish/TechnoMedicAPI/Microsoft.Extensions.PlatformAbstractions.dll
Publish/TechnoMedicAPI/Microsoft.Extensions.DependencyModel.dll
Publish/TechnoMedicAPI/Microsoft.DotNet.PlatformAbstractions.dll
PracticeCompass.Data/Scripts/__tmp_uspLedgerGet.sql.txt
/PracticeCompass.Data/Scripts/__tmp_uspLedgerGet.sql.txt
/PracticeCompass.Data/Scripts/__tmp_uspGridColumns.sql.txt
/PracticeCompass.API/obj
/PracticeCompass.API/bin
PracticeCompass.Data/Scripts/__tmp_uspInsuranceRecordGet.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspClaimfillingGet.sql.txt
/Publish/PracticeCompassAPI/Microsoft.EntityFrameworkCore.Abstractions.dll
/Publish/PracticeCompassAPI/Microsoft.EntityFrameworkCore.dll
/Publish/PracticeCompassAPI/Microsoft.EntityFrameworkCore.Relational.dll
/Publish/PracticeCompassAPI/Microsoft.EntityFrameworkCore.SqlServer.dll
/Publish/PracticeCompassAPI/Dapper.dll
/Publish/PracticeCompassAPI/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/Publish/PracticeCompassAPI/NLog.dll
/Publish/PracticeCompassAPI/NLog.config
/Publish/PracticeCompassAPI/appsettings.Development.json
/Publish/PracticeCompassAPI/appsettings.json
/Publish/PracticeCompassAPI/PracticeCompass.Common.dll
/Publish/PracticeCompassAPI/PracticeCompass.Common.pdb
/Publish/PracticeCompassAPI/PracticeCompass.Core.dll
/Publish/PracticeCompassAPI/PracticeCompass.Core.pdb
/Publish/PracticeCompassAPI/PracticeCompass.Logger.dll
/Publish/PracticeCompassAPI/PracticeCompass.Logger.pdb
/Publish/PracticeCompassAPI/PracticeCompass.Messaging.deps.json
/Publish/PracticeCompassAPI/PracticeCompass.Messaging.dll
/Publish/PracticeCompassAPI/PracticeCompass.Messaging.exe
/Publish/PracticeCompassAPI/PracticeCompass.Messaging.pdb
/Publish/PracticeCompassAPI/PracticeCompass.Messaging.runtimeconfig.json
/Publish/PracticeCompassAPI/PracticeCompass.Data.dll
/Publish/PracticeCompassAPI/PracticeCompass.Data.pdb
/Publish/PracticeCompassAPI/PracticeCompass.API.runtimeconfig.json
/Publish/PracticeCompassAPI/appsettings.Production.json
/Publish/PracticeCompassAPI/PracticeCompass.API.dll
/Publish/PracticeCompassAPI/PracticeCompass.API.exe
/Publish/PracticeCompassAPI/PracticeCompass.API.pdb
/Publish/PracticeCompassAPI/PracticeCompass.API.deps.json
/Publish/PracticeCompassAPI/web.config
/Publish/PracticeCompassAPI/runtimes
/Publish/PracticeCompassAPI/Newtonsoft.Json.dll
/Publish/PracticeCompassAPI/Newtonsoft.Json.Bson.dll
/Publish/PracticeCompassAPI/CryptoHelper.dll
/Publish/PracticeCompassAPI/System.Net.Http.Formatting.dll
/Publish/PracticeCompassAPI/System.Web.Http.dll
/Publish/PracticeCompassAPI/System.IdentityModel.Tokens.Jwt.dll
/Publish/PracticeCompassAPI/Microsoft.IdentityModel.JsonWebTokens.dll
/Publish/PracticeCompassAPI/Microsoft.IdentityModel.Logging.dll
/Publish/PracticeCompassAPI/Microsoft.IdentityModel.Protocols.dll
/Publish/PracticeCompassAPI/Microsoft.IdentityModel.Tokens.dll
/Publish/PracticeCompassAPI/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/Publish/PracticeCompassAPI/System.Configuration.ConfigurationManager.dll
/Publish/PracticeCompassAPI/System.Runtime.Caching.dll
/Publish/PracticeCompassAPI/System.Security.Cryptography.ProtectedData.dll
/Publish/PracticeCompassAPI/Microsoft.Identity.Client.dll
/Publish/PracticeCompassAPI/System.Data.SqlClient.dll
/Publish/PracticeCompassAPI/Microsoft.Data.SqlClient.dll
/Publish/PracticeCompassAPI/Microsoft.OpenApi.dll
/Publish/PracticeCompassAPI/Swashbuckle.AspNetCore.Swagger.dll
/Publish/PracticeCompassAPI/Swashbuckle.AspNetCore.SwaggerGen.dll
/Publish/PracticeCompassAPI/Swashbuckle.AspNetCore.SwaggerUI.dll
/Publish/PracticeCompassAPI/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
/Publish/PracticeCompassAPI/AutoMapper.dll
/Publish/PracticeCompassAPI/System.Security.Principal.Windows.dll
/Publish/PracticeCompassAPI/System.Security.AccessControl.dll
/Publish/PracticeCompassAPI/System.Collections.Immutable.dll
/Publish/PracticeCompassAPI/Microsoft.Win32.Registry.dll
/Publish/PracticeCompassAPI/System.ComponentModel.Annotations.dll
/Publish/PracticeCompassAPI/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/Publish/PracticeCompassAPI/Microsoft.Extensions.Logging.Abstractions.dll
/Publish/PracticeCompassAPI/System.CodeDom.dll
/Publish/PracticeCompassAPI/Microsoft.Extensions.Caching.Abstractions.dll
/Publish/PracticeCompassAPI/Microsoft.Extensions.Configuration.Abstractions.dll
/Publish/PracticeCompassAPI/Microsoft.Extensions.Options.dll
/Publish/PracticeCompassAPI/Microsoft.Extensions.Caching.Memory.dll
/Publish/PracticeCompassAPI/Microsoft.Extensions.Primitives.dll
/Publish/PracticeCompassAPI/Microsoft.Extensions.Configuration.dll
/Publish/PracticeCompassAPI/System.Management.dll
/Publish/PracticeCompassAPI/Microsoft.Extensions.Logging.dll
/Publish/PracticeCompassAPI/Microsoft.Extensions.DependencyInjection.dll
/Publish/PracticeCompassAPI/System.Diagnostics.DiagnosticSource.dll
Publish
PracticeCompass.Data/Scripts/__tmp_uspPatientPaymentGet.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspInsurancePaymentGet.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspInsurancePaymentDetailsGet.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspInsurancePaymentGetforApply.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspPatientPaymentGetforApply.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspPaymentAssignmentGet.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspPaymentInsertUpdate.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspPayClassGet.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspPayClassGet.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspPayClassGet.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspPayClassGet.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspPayClassGet.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspERAPaymentHeaderGet.sql.txt
/PracticeCompass.Data/Scripts/__tmp_uspERAPaymentDetailsGet.sql.txt
/PracticeCompass.Data/Scripts/__tmp_uspPayClassGet.sql.txt
/PracticeCompass.Data/Scripts/__tmp_uspPatientDetailsUpdate.sql.txt
/PracticeCompass.Data/Scripts/__tmp_uspChargeDetailsUpdate.sql.txt
/PracticeCompass.Data/Scripts/__tmp_uspClaimDetailsUpdate.sql.txt
/PracticeCompass.Data/Scripts/__tmp_FuncERAMatchingGet.sql.txt
/PracticeCompass.Data/Scripts/__tmp_FuncGetStampFromDate.sql.txt
/PracticeCompass.Data/Scripts/__tmp_FuncDateFromStamp.sql.txt
PracticeCompass.Data/Scripts/__tmp_FuncGetMAXprrowid.sql.txt
PracticeCompass.Data/Scripts/__tmp_CreateERADenailTable.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspPhysicianDetailsGet.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspPhysicianGridGet.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspPositionGet.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspPlanGridGet.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspPlanDetailsGet.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspERSTableDelete.sql.txt
PracticeCompass.Data/Scripts/__tmp_FuncGetChargeStatus.sql.txt
PracticeCompass.Data/Scripts/__tmp_FuncGetClaimOutStandingBalance.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspPlanGroupGet.sql.txt
PracticeCompass.Data/Scripts/__tmp_CreateERAFileManagertable.sql.txt
PracticeCompass.Data/Scripts/__tmp_uspFilesGet.sql.txt
