<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- the targets to write -->
  <targets>
    <!-- write to file -->
    <target name="applog" xsi:type="File" fileName="C:\Log\${mdlc:UserName}\log-${shortdate}.log"
            layout=" ${mdlc:UserName} - ${longdate} - ${level} - ${message} - ${exception:format=StackTrace}${newline}" />
  </targets>
  <!--<target name="logfile" xsi:type="File" fileName="${basedir}/MyLogs/${date:format=yyyy-MM-dd}.log" />-->

  <!-- rules to map from logger name to target -->
  <rules>
    <!-- all logs including Microsoft -->
    <logger name="*" minlevel="Trace" writeTo="applog" />
  </rules>

</nlog>

